body{
    background-color:lightblue;
    color:black;
    list-style-type: none;
}

header{
    color:black;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    
}

.cityinfo {
    list-style-type: none;
    /* border-style: solid; */

}

